<h1>Contact Info for <%= @name %>:</h1>

<h4>Cell phone number:</h4>

  <% if Contact.find(@name).phone_numbers().cell() == "" %>
    <form action = "/insert_cell" method = "post">
      <label for = "new_cell">Add cell phone number:</label>
      <input id = "new_cell" name = "new_cell" type = "text">
      <% Contact.set_transporter(@name) %>
      <button type = "submit" class = "btn-primary">Add</button>
    </form>
  <% else %>
    <p><%= Contact.find(@name).phone_numbers().cell() %></p>
  <% end %>


<h4>Home phone number:</h4>

  <% if Contact.find(@name).phone_numbers().home() == "" %>
    <form action = "/insert_home" method = "post">
      <label for = "new_home">Add home phone number:</label>
      <input id = "new_home" name = "new_home" type = "text">
      <% Contact.set_transporter(@name) %>
      <button type = "submit" class = "btn-primary">Add</button>
    </form>
  <% else %>
    <p><%= Contact.find(@name).phone_numbers().home() %></p>
  <% end %>

<h4>Work phone number:</h4>

  <% if Contact.find(@name).phone_numbers().work() == "" %>
    <form action = "/insert_work" method = "post">
      <label for = "new_work">Add work phone number:</label>
      <input id = "new_work" name = "new_work" type = "text">
      <% Contact.set_transporter(@name) %>
      <button type = "submit" class = "btn-primary">Add</button>
    </form>
  <% else %>
    <p><%= Contact.find(@name).phone_numbers().work() %></p>
  <% end %>

<form action = "/">
  <button type = "submit" class = "btn-primary">Back to main page</button>
</form>
