<div class = "jumbotron">
  <h1>Welcome to the Phone Book App!</h1>
  <h3>Remember those old things?</h3>
</div>

<div class = "col-md-6">

  <h3>Add a new contact:</h3>

  <form action = "/index" method = "post">
    <label for = "name">Name:</label>
    <input id = "name" name = "name" type = "text">
    <br>
    <label for = "cell">Cell phone number:</label>
    <input id = "cell" name = "cell" type = "text">
    <br>
    <label for = "home">Home phone number:</label>
    <input id = "home" name = "home" type = "text">
    <br>
    <label for = "work">Work phone number:</label>
    <input id = "work" name = "work" type = "text">
    <br>
    <button type = "submit" class = "btn-primary">Add to contacts</button>
  </form>

</div>

<div class = "col-md-6">

  <h3>Your contacts:</h3>

  <ul>
    <% @phone_book.each() do |contact| %>
      <li><a href = "/contact/<%= contact.name() %>"><%= contact.name() %></a></li>
    <% end %>
  </ul>

  <br><br>

  <h4>Delete a contact:</h4>

  <form action = "/delete" method = "post">
    <label for = "delete_name">Name:</label>
    <input id = "delete_name" name = "delete_name" type = "text">
    <br>

    <button type = "submit" class = "btn-primary">Delete</button>
  </form>

  <br>

  <form action = "/clear">
    <button type = "submit" class = "btn-danger">Clear all contacts!</button>
  </form>

</div>
